parameters:
	ignoreErrors:
		-
			message: "#^Method Nucleos\\\\LastFmBundle\\\\Action\\\\StartAuthAction\\:\\:generateUrl\\(\\) is unused\\.$#"
			count: 1
			path: src/Action/StartAuthAction.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$router has no type specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$sessionManager has no type specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$twig has no type specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$router has no type specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$sessionManager has no type specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$twig has no type specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$authService has no type specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$router has no type specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$sessionManager has no type specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$authService has no type specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Property Nucleos\\\\LastFmBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$router has no type specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Method Nucleos\\\\LastFmBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\LastFmBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$loader with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\LastFmBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureRoutes\\(\\) has parameter \\$routes with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\LastFmBundle\\\\Tests\\\\EventDispatcher\\\\TestEventDispatcher\\:\\:dispatch\\(\\) has parameter \\$eventName with no type specified\\.$#"
			count: 1
			path: tests/EventDispatcher/TestEventDispatcher.php

		-
			message: "#^Method Nucleos\\\\LastFmBundle\\\\Tests\\\\EventDispatcher\\\\TestEventDispatcher\\:\\:dispatch\\(\\) should return TEvent of object but returns \\(Nucleos\\\\LastFmBundle\\\\Event\\\\AuthFailedEvent&TEvent of object\\)\\|\\(Nucleos\\\\LastFmBundle\\\\Event\\\\AuthSuccessEvent&TEvent of object\\)\\|TEvent of object\\.$#"
			count: 1
			path: tests/EventDispatcher/TestEventDispatcher.php

