parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method scalarNode\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 2
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$twig has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$sessionManager has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthErrorActionTest\\:\\:\\$eventDispatcher has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthErrorActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$twig has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$sessionManager has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\AuthSuccessActionTest\\:\\:\\$eventDispatcher has no typehint specified\\.$#"
			count: 1
			path: tests/Action/AuthSuccessActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$sessionManager has no typehint specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\CheckAuthActionTest\\:\\:\\$authService has no typehint specified\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Parameter \\#2 \\$value of method Symfony\\\\Component\\\\HttpFoundation\\\\InputBag\\:\\:set\\(\\) expects array\\|string, null given\\.$#"
			count: 1
			path: tests/Action/CheckAuthActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$authService has no typehint specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\Action\\\\StartAuthActionTest\\:\\:\\$router has no typehint specified\\.$#"
			count: 1
			path: tests/Action/StartAuthActionTest.php

		-
			message: "#^Property Core23\\\\LastFmBundle\\\\Tests\\\\EventDispatcher\\\\TestEventDispatcher\\:\\:\\$response has no typehint specified\\.$#"
			count: 1
			path: tests/EventDispatcher/TestEventDispatcher.php

